
@{
    ViewBag.Title = "General Contracting";
}

<h1>General Contracting</h1>
<div class="row">
    <div id="carouselExampleIndicators" class="carousel slide col-md-6" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/WorkImages/Stairs/Stairs.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Images/ZionConstructionBanner.png" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Images/ZionConstructionBanner.png" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="jumbotron col-md-5">
        <h2>General Contracting</h2>
        <p>When taking on a large project it's important that you have someone who has experience working with all the trades. As a general contractor, I take pride with who I hire to get the job done correctly, and as price effective as possible.</p>

    </div>>
</div>
<div id="wrap">
    <div class="jumbotron">
        <h3>General Contracting Ins and Outs</h3>
        <p>When you start a larger project, whether it's new construction, or existing construction. Figuring out all the in's and out's of each task can be difficult.  From finding good electricians, buildiers, plumbers etc to keep your project on time and at the expected budget.  I can be your one stop shopping, and hire everyone to remove the headache from you, and keep the project rolling as smooth as possible.</p>
    </div>
</div>